<form [formGroup]="editRecipeForm">
    <mat-list>
        <h2 md-dialog-title>Edit Recipe</h2>
        <hr>
        <mat-dialog-content>
            <p>
                <mat-form-field>
                    <input matInput
                        formControlName="recipeName"
                        placeholder="Recipe name">
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <textarea matInput
                        formControlName="recipeDescription"
                        placeholder="Recipe description"
                        cdkTextareaAutosize
                        cdkAutosizeMinRows="5"
                        cdkAutosizeMaxRows="5">
                    </textarea>
                </mat-form-field>        
            
            </p>
        </mat-dialog-content>

        <mat-divider [vertical]="true"></mat-divider>
        
        <mat-selection-list
            #ing
            [compareWith]="compareFn"
            (selectionChange)="onSelectionChange($event, ing.options)"
            formControlName="recipeIngredients">
            <mat-list-option *ngFor="let ingredient of data.ingredients" [value]="ingredient.ingredientId">
                {{ ingredient.name }}
            </mat-list-option>
        </mat-selection-list>
    </mat-list>
</form>
